{% extends "base.html" %}

{% block main_content %}
{% if user.is_authenticated %}
    <a href="{% url act_edit album.slug %}">Editar</a>|<a href="">Adicionar fotos</a>
{% endif %}
    <h2>{{ album.description }}</h2>

    {# TODO: Instalar app para thumbnail e retirar redimencionamento via css #}
    <p><img style="width: 250px" src="{{ MEDIA_URL }}{{ album.cover }}" /></p>

    <ul class="media-grid">
        {% for photo in photos %}
            {% include "gallery/photo_thumb.html" %}
        {% endfor %}
    </ul>
 
{% endblock %}
